<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>Servlets.StatusServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>getServlet</servlet-name>
        <servlet-class>Servlets.GetServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>getServlet</servlet-name>
        <url-pattern>/get</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>pageServlet</servlet-name>
        <servlet-class>Servlets.PageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>pageServlet</servlet-name>
        <url-pattern>/page</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>test1Servlet</servlet-name>
        <servlet-class>Servlets.Test1Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>test1Servlet</servlet-name>
        <url-pattern>/test1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>test2Servlet</servlet-name>
        <servlet-class>Servlets.Test2Servlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>test2Servlet</servlet-name>
        <url-pattern>/test2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkServlet</servlet-name>
        <servlet-class>Servlets.CheckServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>checkServlet</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>

</web-app>