.idea/
antlr/
asm/
avalon-framework/
backport-util-concurrent/
classworlds/
com/
commons-beanutils/
commons-chain/
commons-cli/
commons-codec/
commons-collections/
commons-digester/
commons-io/
commons-lang/
commons-logging/
commons-validator/
dom4j/
javax/
jdom/
junit/
log4j/
logkit/
org/
oro/
out/
sslext/
xerces/
xml-apis/
InstagramApi.iml