body{
    background-color: rgb(154,196,151);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(59,59,59);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    max-height: 40px;
    height: 40px;
    background-color: rgb(94,120,92);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 20%;
}

#log-button{
    position: relative;
    margin-left: 20px;
    margin-top: 5px;
    width: 100px;
    height: 25px;
}

.photo-wall{
    width: 65%;
    padding-top: 50px;
    display: block;
    align-content: right;
    padding-left: 25%;
    height: 100%;
}

.photo-block{
    margin: 10px;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tags{
    overflow: scroll;
    padding-left: 3px;
    padding-right: 10px;
    width: 100%;
}

.photo{
    margin-bottom: 3px;
    width: auto;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.photo-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
}

.photo-header{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.photo-description{
    width: 100%;
    max-height: 10vh;
    overflow: hidden;
    font-size: 13px;
    padding-right: 0px;
    padding-left: 3px;
    text-overflow: ellipsis;
    background-color: rgb(184,196,151);
}

.photo-description:hover{
    max-height: unset;
}

#filters-button{
    right: 2%;
    bottom: 2%;
    background-color: darkblue;
    position: fixed;
}

p{
    text-align: center;
}

.photo-header>h3{
    font-size: 1.7em;
    text-align: left;
    padding: 2px;
}

.photo-info>h4{
    font-size: 13px;
    text-align: left;
    padding: 0px;
}

.filters{
    position: fixed;
    height: 40%;
    top: 100px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}

.search{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    padding-right: 30px;
    padding-top:2px;
    padding-bottom: 2px;
}

.search>button{
    width: 70px;
    height: 25px;
    align-self: center;
    align-content: center;
    padding-right: 0px;
}

.search>input{
    widows: 120px;
    margin-left: 10px;
}

.tags-list{
    width: 100%;
    overflow: hidden;
    max-height: 20%;
    height:20%;
    padding: 0px;
    margin:2px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
}

.tags-list:hover{
    max-height: unset;
}

.tags-list>span{
    padding: 0px;
    height: 10px;
}

h3{
    font-size: 14px;
}

.like-zone{
    width:150px;
    padding:2px;
    display: flex;
    flex-direction: row;
}

.like-zone>img{
    width:30px;
    height: 30px;
}

.show-more-button{
    width:100%;
    padding: 3px;
}